In [2]:
import pandas as pd
import re

In [3]:
pd.set_option('display.max_rows', None)

In [4]:
df = pd.read_excel("GSAF5.xls")

df["id"] = range(0, len(df))

df_sharks = df[["id", "Date", "Year"]]
df_sharks.head()

   id                 Date    Year
0   0  2024-09-16 00:00:00  2024.0
1   1  2024-08-26 00:00:00  2024.0
2   2  2024-08-06 00:00:00  2024.0
3   3  2024-07-23 00:00:00  2024.0
4   4  2024-07-18 00:00:00  2024.0

df_sharks.info()

## DATE CLEAN UP

1. Creo una nueva columna con Date_Comment para poder filtrar cada fila de Date en función del regex que le pase.
2. Antes de aplicar Regex, elimino todas las celdas que contengan espacios, puntos, u otros valores raros al principio.
3. Una vez hecho, aplico la regex y empiezo a calsifcar las celdas filtradas según su cmentairo en la columna Date_Comment

In [5]:
df_sharks['Date_Comment']= 'Check'

dateregex1 = r'\d{2}-[A-Za-z]{3}-\d{4}'
dateregex2 = r'^\d{4}$'
dateregex3 = r'^\d{4}-\d{4}$'
dateregex4 = r'^Before \d{4}$'
dateregex5 = r'^Reported \d{2}-[A-Za-z]{3}-\d{4}$'
dateregex6 = r'^[A-Za-z]{3}-\d{4}$'


df_sharks.loc[
    df_sharks['Date'].str.match(dateregex1)==True,
    'Date_Comment'
    ]= "Date, replace MMM, mm"

df_sharks.loc[
    ((df_sharks["Date_Comment"] == "Check")&
    (df_sharks['Date'].str.match(dateregex2)==True)),
    'Date_Comment'
] = "Only year, missing day and month"

df_sharks.loc[
    ((df_sharks["Date_Comment"] == "Check")&
    (df_sharks['Date'].str.match(dateregex3)==True)),
    'Date_Comment'
] = "YYYY-YYYY format-->Range of years"

df_sharks.loc[
    ((df_sharks["Date_Comment"] == "Check")&
    (df_sharks['Date'].str.match(dateregex4)==True)),
    'Date_Comment'
] = "Before YYYY format"

df_sharks.loc[
    ((df_sharks["Date_Comment"] == "Check")&
    (df_sharks['Date'].str.match(dateregex5)==True)),
    'Date_Comment'
] = "Reported dd-MMM-yyyy"

df_sharks.loc[
    ((df_sharks["Date_Comment"] == "Check")&
    (df_sharks['Date'].str.match(dateregex6)==True)),
    'Date_Comment'
] = "MMM-yyyy"

C:\Users\xavie\AppData\Local\Temp\ipykernel_18344\1468954483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sharks['Date_Comment']= 'Check'

In [6]:
pd.pivot_table(df_sharks, index = "Date_Comment", values = "Date", aggfunc= "count")

                                   Date
Date_Comment
Before YYYY format                   57
Check                               671
Date, replace MMM, mm              5278
MMM-yyyy                            295
Only year, missing day and month    138
Reported dd-MMM-yyyy                515
YYYY-YYYY format-->Range of years    16

In [7]:
df_sharks.loc[
    df_sharks['Date_Comment'] =="Date, replace MMM, mm",
    "Date"
]=df_sharks.loc[
    df_sharks['Date_Comment'] =="Date, replace MMM, mm",
    "Date"].str.replace("Jan","01").str.replace("Feb","02").str.replace("Mar","03").str.replace("Apr","04").str.replace("May","05").str.replace("Jun","06").str.replace("Jul","07").str.replace("Aug","08").str.replace("Sep","09").str.replace("Oct","10").str.replace("Nov","11").str.replace("Dec","12")


df_sharks.loc[
    df_sharks['Date_Comment'] =="MMM-yyyy",
    "Date"
]=df_sharks.loc[
    df_sharks['Date_Comment'] =="MMM-yyyy",
    "Date"].str.replace("Jan","01").str.replace("Feb","02").str.replace("Mar","03").str.replace("Apr","04").str.replace("May","05").str.replace("Jun","06").str.replace("Jul","07").str.replace("Aug","08").str.replace("Sep","09").str.replace("Oct","10").str.replace("Nov","11").str.replace("Dec","12")

df_sharks.loc[
    df_sharks['Date_Comment'] =="MMM-yyyy",
    "Date"] = '01-' + df_sharks.loc[
        df_sharks['Date_Comment'] == "MMM-yyyy",
        "Date" ]

df_sharks.loc[
    df_sharks['Date_Comment'] =="Reported dd-MMM-yyyy",
    "Date"
]=df_sharks.loc[
    df_sharks['Date_Comment'] =="Reported dd-MMM-yyy",
    "Date"].str.replace("Jan","01").str.replace("Feb","02").str.replace("Mar","03").str.replace("Apr","04").str.replace("May","05").str.replace("Jun","06").str.replace("Jul","07").str.replace("Aug","08").str.replace("Sep","09").str.replace("Oct","10").str.replace("Nov","11").str.replace("Dec","12")

df_sharks.loc[
    df_sharks['Date_Comment'] =="Reported dd-MMM-yyyy",
    "Date"] = df_sharks.loc[
    df_sharks['Date_Comment'] =="Reported dd-MMM-yyyy",
    "Date"].str.replace("Reported ","")


df_sharks['Date_Comment']= 'Check'

dateregex1 = r'\d{2}-[A-Za-z]{3}-\d{4}'
dateregex2 = r'^\d{4}$'
dateregex3 = r'^\d{4}-\d{4}$'
dateregex4 = r'^Before \d{4}$'
dateregex5 = r'^Reported \d{2}-[A-Za-z]{3}-\d{4}$'
dateregex6 = r'^[A-Za-z]{3}-\d{4}$'
dateregex7 = r'^(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[0-2])-\d{4}$'


df_sharks.loc[
    df_sharks['Date'].str.match(dateregex1)==True,
    'Date_Comment'
    ]= "Date, replace MMM, mm"

df_sharks.loc[
    ((df_sharks["Date_Comment"] == "Check")&
    (df_sharks['Date'].str.match(dateregex2)==True)),
    'Date_Comment'
] = "Only year, missing day and month"

df_sharks.loc[
    ((df_sharks["Date_Comment"] == "Check")&
    (df_sharks['Date'].str.match(dateregex3)==True)),
    'Date_Comment'
] = "YYYY-YYYY format-->Range of years"

df_sharks.loc[
    ((df_sharks["Date_Comment"] == "Check")&
    (df_sharks['Date'].str.match(dateregex4)==True)),
    'Date_Comment'
] = "Before YYYY format"

df_sharks.loc[
    ((df_sharks["Date_Comment"] == "Check")&
    (df_sharks['Date'].str.match(dateregex5)==True)),
    'Date_Comment'
] = "Reported dd-MMM-yyyy"

df_sharks.loc[
    ((df_sharks["Date_Comment"] == "Check")&
    (df_sharks['Date'].str.match(dateregex6)==True)),
    'Date_Comment'
] = "MMM-yyyy"

df_sharks.loc[
    df_sharks['Date'].str.match(dateregex7)==True,
    'Date_Comment'
    ]= "Date ok"

C:\Users\xavie\AppData\Local\Temp\ipykernel_18344\3724745412.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sharks['Date_Comment']= 'Check'

In [8]:
pd.pivot_table(df_sharks, index = "Date_Comment", values = "Date", aggfunc = "count")

                                   Date
Date_Comment
Before YYYY format                   57
Check                               688
Date ok                            5555
Date, replace MMM, mm                 1
Only year, missing day and month    138
YYYY-YYYY format-->Range of years    16

In [9]:
df_sharks = df_sharks.loc[df_sharks["Date_Comment"] == "Date ok"]
df_sharks["Lenght"] = df_sharks["Date"].astype(str).str.len()
df_sharks['Date'] = pd.to_datetime(df_sharks['Date'], format='%d-%m-%Y', errors='coerce')

df_sharks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5555 entries, 30 to 6820
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            5555 non-null   int64
 1   Date          5554 non-null   datetime64[ns]
 2   Year          5555 non-null   float64
 3   Date_Comment  5555 non-null   object
 4   Lenght        5555 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 260.4+ KB

## YEAR CLEAN UP

In [10]:
df_sharks["Year"] = df_sharks["Date"].dt.year

## COUNTRY CLEAN UP

In [11]:
df_sharks['Country_Comment']= 'Check'
df_sharks['Country']= df_sharks['Country'].str.strip()
countryregex = r'^[A-Z\s]+$'
countryregex2 = r'^(?:[A-Z][a-z]+(?:\s+[A-Z][a-z]+)*)?$|^(?:[A-Z][a-z]*\s*)+$'
countryregex3 = r'^[A-Z\s]+ \/ [A-Z\s]+$'
countryregex4 = r'^[A-Z]+(?:\s[A-Z]+)*$'
countryregex5 = r'^[A-Z\s&]+$'

df_sharks.loc[
    df_sharks['Country'].str.match(countryregex)==True,
    'Country_Comment'
    ]= "Country_ok"

pattern2 = r'^(?:[A-Z][a-z]+(?:\s+[A-Z][a-z]+)*)?$|^(?:[A-Z][a-z]*\s*)+$'

df_sharks.loc[
    (df_sharks['Country_Comment']=='Check') &
    (df_sharks['Country'].str.match(countryregex2)==True),
    'Country_Comment'
    ] = 'Countries haveing First/Second word Capital Letter and rest smalls letters'


df_sharks.loc[
    (df_sharks['Country_Comment']=='Check') &
    (df_sharks['Country'].str.match(countryregex3)==True),
    'Country_Comment'
    ] = 'Countries split by / but with capital letters'

df_sharks.loc[
    (df_sharks['Country_Comment']=='Check') &
    (df_sharks['Country'].str.match(countryregex4)==True),
    'Country_Comment'
    ] = "Country in capitals containing ?"

df_sharks.loc[
    (df_sharks['Country_Comment']=='Check') &
    (df_sharks['Country'].str.match(countryregex5)==True),
    'Country_Comment'
    ] = "Country in capitals separated by &"

KeyError: 'Country'

In [55]:
pd.pivot_table(df_sharks, index = 'Country_Comment',values = 'Country',aggfunc='count')

                                                    Country
Country_Comment
Check                                                     6
Countries haveing First/Second word Capital Let...        8
Countries split by / but with capital letters             6
Country in capitals separated by &                        7
Country_ok                                             5506

In [56]:
df_sharks.loc[
    ((df_sharks['Country_Comment']!='Country_ok') & 
    (df_sharks['Country_Comment']=='Country in capitals separated by &')),
    ["Country"]
              ] =  df_sharks.loc[
                  ((df_sharks['Country_Comment'] != 'Country_ok') & 
                   (df_sharks['Country_Comment'] == 'Country in capitals separated by &')),
                   ['Country']
                   ].replace("&", "AND", regex=True)

In [57]:
df_sharks.loc[
    ((df_sharks['Country_Comment']!='Country_ok') & 
    (df_sharks['Country_Comment']=='Countries split by / but with capital letters')),
    ["Country","Location","State"]
             ]

,Country,Location,State
346,ST KITTS / NEVIS,Booby Island,The Narrows
2933,EGYPT / ISRAEL,"1 km off the mouth of Marsa Bereika, north of ...","South Sinai, Gulf of Aqaba"
4610,RED SEA / INDIAN OCEAN,NaN,Enroute from Suez to Aden (Yemen)
4793,ANDAMAN / NICOBAR ISLANDAS,NaN,NaN
5275,IRAN / IRAQ,Vicinity of Abadan,Shatt-al-Arab River
5352,SOLOMON ISLANDS / VANUATU,"North of Guadalcanal, Solomon Islands while en...",NaN

In [58]:


df_sharks.loc[
    ((df_sharks['Country_Comment']!='Country_ok') & 
    (df_sharks['Country_Comment']=='Countries split by / but with capital letters') &
    (df_sharks['State']=="South Sinai, Gulf of Aqaba")),
    ["Country"]] = "EGYPT"
df_sharks.loc[
    ((df_sharks['Country_Comment']!='Country_ok') & 
    (df_sharks['Country_Comment']=='Countries split by / but with capital letters') &
    (df_sharks['State']=="Enroute from Suez to Aden (Yemen)")),
    ["Country"]] = "RED SEA"
df_sharks.loc[
    ((df_sharks['Country_Comment']!='Country_ok') & 
    (df_sharks['Country_Comment']=='Countries split by / but with capital letters') &
    (df_sharks['State']== "Shatt-al-Arab River")),
    ["Country"]] = "IRAQ"
df_sharks.loc[
    ((df_sharks['Country_Comment']!='Country_ok') & 
    (df_sharks['Country_Comment']=='Countries split by / but with capital letters') &
    (df_sharks['Country']== "SOLOMON ISLANDS / VANUATU")),
    ["Country"]] = "SOLOMON ISLANDS"

df_sharks.loc[
    ((df_sharks['Country_Comment']!='Country_ok') & 
    (df_sharks['Country_Comment']=='Countries split by / but with capital letters') &
    (df_sharks['Location']== "Kralievica")),
    ["Country"]] = "CROATIA"

df_sharks.loc[
    ((df_sharks['Country_Comment']!='Country_ok') & 
    (df_sharks['Country_Comment']=='Countries split by / but with capital letters') &
    (df_sharks['State']=="Fernando Po Island")),
    ["Country"]] = "EQUATORIAL GUINEA"

#CLENAING SMALL LETTERS TO CAPITALS
df_sharks.loc[
    ((df_sharks['Country_Comment']!='Country_ok') & 
    (df_sharks['Country_Comment']=='Countries haveing First/Second word Capital Letter and rest smalls letters')),
    "Country"
    ] =  df_sharks.loc[
        ((df_sharks['Country_Comment']!='Country_ok') & 
         (df_sharks['Country_Comment']=='Countries haveing First/Second word Capital Letter and rest smalls letters')),
         "Country"
         ].str.upper()

In [59]:
df_sharks['Country_Comment']= 'Check'
df_sharks['Country']= df_sharks['Country'].str.strip()
countryregex = r'^[A-Z\s]+$'
countryregex2 = r'^(?:[A-Z][a-z]+(?:\s+[A-Z][a-z]+)*)?$|^(?:[A-Z][a-z]*\s*)+$'
countryregex3 = r'^[A-Z\s]+ \/ [A-Z\s]+$'
countryregex4 = r'^[A-Z]+(?:\s[A-Z]+)*$'
countryregex5 = r'^[A-Z\s&]+$'

df_sharks.loc[
    df_sharks['Country'].str.match(countryregex)==True,
    'Country_Comment'
    ]= "Country_ok"

pattern2 = r'^(?:[A-Z][a-z]+(?:\s+[A-Z][a-z]+)*)?$|^(?:[A-Z][a-z]*\s*)+$'

df_sharks.loc[
    (df_sharks['Country_Comment']=='Check') &
    (df_sharks['Country'].str.match(countryregex2)==True),
    'Country_Comment'
    ] = 'Countries haveing First/Second word Capital Letter and rest smalls letters'


df_sharks.loc[
    (df_sharks['Country_Comment']=='Check') &
    (df_sharks['Country'].str.match(countryregex3)==True),
    'Country_Comment'
    ] = 'Countries split by / but with capital letters'

df_sharks.loc[
    (df_sharks['Country_Comment']=='Check') &
    (df_sharks['Country'].str.match(countryregex4)==True),
    'Country_Comment'
    ] = "Country in capitals containing ?"

df_sharks.loc[
    (df_sharks['Country_Comment']=='Check') &
    (df_sharks['Country'].str.match(countryregex5)==True),
    'Country_Comment'
    ] = "Country in capitals separated by &"

C:\Users\xavie\AppData\Local\Temp\ipykernel_17660\2355470971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sharks['Country_Comment']= 'Check'
C:\Users\xavie\AppData\Local\Temp\ipykernel_17660\2355470971.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sharks['Country']= df_sharks['Country'].str.strip()

In [60]:
df_sharks = df_sharks.loc[
    df_sharks["Country_Comment"]=="Country_ok"]

In [61]:
countryregex6 = r'\b\w+\s+SEA\b'
countryregex7 = r'\b\w+\s+OCEAN\b'
countryregex8 = r'\bBRITISH\w*\b'
countryregex9 = r'\b\w*GULF\w*\b'



df_sharks = df_sharks.loc[
    (df_sharks['Country'].str.match(countryregex6)==False)|
    (df_sharks['Country'].str.match(countryregex7)==False)|
    (df_sharks['Country'].str.match(countryregex8)==False)|
    (df_sharks['Country'].str.match(countryregex9)==False)
    ]

df_sharks.loc[
    (df_sharks['Country'] == "THE BALKANS"),
    "Country"
] = "SLOVENIA"

df_sharks.loc[
    (df_sharks['Country'] == "KOREA"),
    "Country"
] = "SOUTH KOREA"

In [13]:
df_sharks.to_csv(r"C:\Users\xavie\OneDrive\Documentos\Ironhack\Week 2\Quest\clean_date_year.csv", index=False)